<h1 class="title">Button Mate</h1>
<div class="container">
  <div class="preview">
    <div class="btn-wrap">
      <ui-button></ui-button>
    </div>
    <div class="btn-set">
      <div class="colors">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
      </div>
      <div class="check-wrap">
        <div class="check-btn">
          <input type="checkbox"><label>transparent</label>
        </div>
        <div class="check-btn">
          <input type="checkbox"><label>gradient</label>
        </div>
        <button>초기화</button>
      </div>
    </div>
  </div>
  <div class="code-btn">
    <button>코드 생성</button>
  </div>
  <div class="preview">
    <div>
      코드 생성을 눌러주세요.
    </div>
  </div>
</div>