<ui-button [size]="'lg'" [type]="'green'" (click)="onClick('green')">green</ui-button>
<ui-button [size]="'lg'" [type]="'blue'" (click)="onClick('blue')">blue</ui-button>
<ui-button [size]="'lg'" [type]="'orange'" (click)="onClick('orange')">orange</ui-button>
<ui-button [size]="'lg'" [type]="'purple'" (click)="onClick('purple')">purple</ui-button>
<ui-button [size]="'lg'" [type]="'yellow'" (click)="onClick('yellow')">yellow</ui-button>
<ui-button [size]="'lg'" [type]="'red'" (click)="onClick('red')">red</ui-button>
<ui-button [size]="'lg'" [type]="'indigo'" (click)="onClick('indigo')">indigo</ui-button>
<ui-button [size]="'lg'" [type]="'skyBlue'" (click)="onClick('skyBlue')">skyBlue</ui-button>
<ui-button [size]="'lg'" [type]="'gray'" (click)="onClick('gray')">gray</ui-button>
<ui-button [size]="'lg'" [type]="'black'" (click)="onClick('black')">black</ui-button>
<ui-button [size]="'lg'" [type]="'darkGray'" (click)="onClick('darkGray')">darkGray</ui-button>
<ui-button [size]="'lg'" [type]="'navy'" (click)="onClick('navy')">navy</ui-button>
<ui-button [size]="'lg'" [type]="'pink'" (click)="onClick('pink')">pink</ui-button>
<ui-button [size]="'lg'" [type]="'light'" (click)="onClick('light')">light</ui-button>
