<div class="options-container">
  <div class="option-card">
    <div class="option-title">
      Text
    </div>
    <div class="option-body">
      <div class="group">
        <span>Font Size : </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
      <div class="group">
        <input class="input">
        <input class="input">
        <select name="font">
          <option value="font-name">본고딕</option>
          <option value="font-name">나눔고딕</option>
          <option value="font-name">맑은고딕</option>
        </select>
      </div>
    </div>
  </div>
  <div class="option-card">
    <div class="option-title">
      Size
    </div>
    <div class="option-body">
      <div class="group">
        <span>Horizontal Size: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
      <div class="group">
        <span>Vertical Size: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
    </div>
  </div>
  <div class="option-card">
    <div class="option-title">
      Border
    </div>
    <div class="option-body">
      <div class="group">
        <span>Border Radius: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
      <div class="group">
        <span>Border Size: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
    </div>
  </div>
  <div class="option-card">
    <div class="option-title">
      Box Shadow
    </div>
    <div class="option-body">
      <div class="group">
        <span>Vertical Position: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
      <div class="group">
        <span>Horizontal Position: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
      <div class="group">
        <span>Blur Radius: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
      <div class="group">
        <span>Spread Radius: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
    </div>
  </div>
  <div class="option-card">
    <div class="option-title">
      Text Shadow
    </div>
    <div class="option-body">
      <div class="group">
        <span>Vertical Position: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
      <div class="group">
        <span>Horizontal Position: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
      <div class="group">
        <span>Blur Radius: </span><span>16px</span>
        <mat-slider color="primary" value="50"></mat-slider>
      </div>
    </div>
  </div>
</div>