.btn {
	display: inline-block;
	cursor:pointer;
	text-decoration:none;
}

.btn-md {
	padding: 9px 20px;
	font-size: 13px;
}

.btn-lg {
	padding: 13px 24px;
	font-size: 15px;
}

.btn-green {
  box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	color:#ffffff;
}

.btn-blue {
	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	background-color:#007dc1;
	border-radius:3px;
	border:1px solid #124d77;
	color:#ffffff;
	text-shadow:0px 1px 0px #154682;
}

.btn-orange {
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	background-color:#f0c911;
	border-radius:6px;
	border:1px solid #e65f44;
	color:#c92200;
	padding:6px 24px;
	text-shadow:0px 1px 0px #ded17c;
}

.btn-purple {
	background-color: #6f42c1;
	border-radius:6px;
	border:1px solid #6f42c1;
	color:#fff;
}

.btn-yellow {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	color:#333333;
	text-shadow:0px 1px 0px #ffee66;
}

.btn-red {
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
	background-color:#fe1a00;
	border-radius:6px;
	border:1px solid #d83526;
	color:#ffffff;
	text-shadow:0px 1px 0px #b23e35;
}

.btn-indigo {
	background-color: #6610f2;
	border-radius:6px;
	border:1px solid #6610f2;
	color:#fff;
}

.btn-skyblue {
	background-color: #2b9cff;
	border-radius:6px;
	border:1px solid #2b9cff;
	color:#fff;
}

.btn-gray {
	background-color: #adb5bd;
	border-radius:6px;
	border:1px solid #adb5bd;
	color:#000;
}

.btn-black {
	background-color: #212529;
	border-radius:6px;
	border:1px solid #212529;
	color:#fff;
}

.btn-darkgray {
	background-color: #343a40 ;
	border-radius:6px;
	border:1px solid #343a40;
	color:#fff;
}

.btn-navy {
	background-color: #123572;
	border-radius:6px;
	border:1px solid #123572;
	color:#fff;
}

.btn-pink {
	background-color: #d63384;
	border-radius:6px;
	border:1px solid #d63384;
	color:#fff;
}

.btn-light {
	background-color: #e9ecef;
	border-radius:6px;
	border:1px solid #e9ecef;
	color:#212529;
}